*{
    margin: 0;
    border: 0;
    padding: 0;
}
div{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 30px auto;
    background: linear-gradient(blue, darkblue, black);

}